:root {
    --primary: #081221;
    --secondary: #031434;
    --text: #c1d1e8;
    --button: #0A74DC;;
    --heading: #ffffff;
    --input: #182c47;
    --disabled: #b1abab;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* body {
    
  } */
  label,
  p,
  small,
  div,
  a,
  input,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: var(--text);
  }
  
  button:hover {
    filter: brightness(70%);
  }
  .btn {
    
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: var(--button);
    color: #ecf0f1;
    transition: background-color 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn:disabled {
    cursor: not-allowed;
    background-color: var(--disabled);
    border: none;
    outline: none;
    filter: brightness(70%);
  }
  
  @media screen and (max-width: 445px) {
      .btn {
          width: 70px;
          font-size: 12px;
      }
  }
  